@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome"; 
}

 <h2>@ViewData["Title"]</h2>
 <p>name=@ViewData["name"] numbers=@ViewData["numbers"] </p>

<ul> @for(var i=0;i<(int)ViewData["numbers"];i++)
     {
        <li>@ViewData["name"]</li>
     }
    </ul>